<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/quemSomos.css">
  <title>Quem somos</title>
</head>

<body>
  <header class="menu">
    <section class="menu-content main-content">
      <a href="/#"><img id="logo" src="/img-icon/LogoTigerFinal.png" alt="Logo"></a>

      <nav class="menu-nav">
        <ul>
          <li><a href="quemSomos.html">Quem somos</a></li>
          <li><a href="#footer">Fale Conosco</a></li>
          <li><a href="entrar.html">Entrar</a></li>
          <li><button class="button"><a href="Cadastro.html">Cadastre-se</a></button></li>
          <!--Arrumar o botão e a ancoragem // Inverter a ordem-->
        </ul>
      </nav>
    </section>
  </header>
  <main>
    <section class="blue-content second-part-content2">
      <aside id="quem-somos">
        <div class="text-quem-somos">
          <h1>Quem somos</h1>
          <p>A TIGER é uma startup que foi fundada com o intuito de disseminar o conhecimento que nossos criadores
            adquiriram com anos de trabalho na área da tecnologia, por meio de cursos que foram feitos e fundamentados a
            partir de uma didatíca bem dinamica, onde a partir do momento que você aprende um determinado assunto já se
            tem um desafio para botar em prática o que se aprendeu e também uma avaliação para atestar seu
            conehcimento</p><br></br>
        </div>
        <div class="text-quem-somos">
          <h1>O que fazemos</h1><br>
          <p>A TIGER trabalha com a venda de cursos online voltado para a área Tecnólogica, tendo por objetivo agregar
            conhcecimento em uma das areas mais promissoras do futuro com diversas vagas. </p><br><br>
        </div>
        <div class="text-quem-somos">
          <h1>Como trabalhamos</h1><br>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum</p>
        </div>
      </aside>
    </section>
  </main>
</body>

</html>